// transitions

.route-enter-from    // , .route-leave-to
{
    //transform: scaleX(.97);
    transform: scaleX(0);
    opacity: .7;
    //background-color: red;
}

.route-enter-active {
    transition: all .2s ease;
}

.route-enter-to    // , .route-leave-from
{
    //transform: scaleX(1);
    //opacity: 0;
    //background-color: blue;
}

.route-leave-from    // , .route-leave-to
{
    transform: scaleX(1);
    //opacity: 0;
}

.route-leave-active {
    //transform: scaleX(.97);
    transition: all .2s ease;
    //opacity: 0;
}

.route-leave-to    // , .route-leave-from
 {
    //transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
}

// transitions

.transithome-enter-from, .transithome-leave-to {
    //transform: scale(0);
    transform: translateY(100vh);
}

.transithome-enter-active {
    transition: all .4s ease;
    //background-color: green;
    //transform: scale(0) rotateY(-30deg);
}

.transithome-leave-active {
    //transition: all .2s ease;
    //background-color: green;
    //transform: scale(0) rotateY(-30deg);
}

.transithome-enter-to, .transithome-leave-from {
    //transform: scale(0);
    background-color: blue;
}

/*
For debugging add live expressions:
$('.page-home')
$('.page-a.top-container')
$('.page-b.top-container')
*/